.nucleocalLink:hover {
	text-decoration: underline !important;
}
	


.ncUsermenu {
	width: 100%;
	display: block;
	margin: 10px;
	margin-bottom: 15px;
	height: 20px;
}
.ncUsermenu ul {
list-style-type: none !important;
}
.ncUsermenu ul li{
	float: left !important;
	padding: 15px !important;
}
.ncUsermenu ul li a{
	text-decoration: none !important;
	font-family: arial-black, sans-serif !important;
	font-weight: bold !important;
	font-size: 16px !important;
}
.ncUsermenu ul li a:hover {
	text-decoration: underline;	
}
.userAgenda {
	width: 600px;
	
}

.userAgenda td {
	border-bottom: 2px groove;	
	border-left: 1px dotted;	
}
.userAgenda td:first-child {
	border-left: none;
}
.slotSeparator {
	border-bottom: 1px solid blue;
	width: 100%;
	}
.nucleoCal {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(components/com_nucleocal/images/cal_bg.png);
	background-repeat: no-repeat;padding: 0px;
}
.slotTitle {
	font-weight: bold;
	font-size: 9px;
}

.slotTitle a{
	text-decoration: none !important;
	
}
.slotTimes {
	font-size: 9px !important;
}

a {
	text-decoration: none !important;
}

.slotTimes a {
	text-decoration: none !important;
	
}

.staffNames {
	color: blue;
	display: block;
	
}
.rowMaximise td .calEvent {
position: relative;
top: -10px;
padding: 0px;
text-align: left;
vertical-align: top;
font-size: 10px;
line-height: 12px;
width:90px;

overflow: hidden;

}
.AppointmentLinkButton {
	padding: 2px;
	border: 2px gray outset;
	background-color: #999999;
	color: #000000 !important;
}
.rowMinimise td a {
	display: none;
}
.rowMaximise td a {
	display: inline;
}
.rowMinimise td .calEvent {
position: relative;
top: -10px;
padding: 0px;
text-align: left;
vertical-align: top;
font-size: 10px;
width:90px;
line-height: 10px;
height: 10px;
overflow: hidden;

}
.rowMaximise td {
	vertical-align: top;

	
	}
	
.rowMinimise td {
	vertical-align: top;
	background-color: #bbbbbb !important;
	cursor: pointer;
	height: 10px !important;
	overflow: hidden;
	}
.rowMaximise td .clickme {
	display: none;
}
.rowMinimise td .clickme {
	display: block;
	font-size: 9px;
	font-weight: bold;
}
	
.hintanchor
{ /*CSS for link that shows hint onmouseover*/
font-weight: bold;
color: #1a324b;
text-decoration: none;
margin: 3px 3px;
}
#hintbox
{ /*CSS for pop up hint box */
position:absolute;
top: 0;
background-color: lightyellow;
width: 150px; /*Default width of hint.*/ padding: 3px;
border:1px solid black;
font:normal 11px Verdana;
line-height:18px;
z-index:100;
border-right: 3px solid black;
border-bottom: 3px solid black;
visibility: hidden;
text-decoration: none;
}


.dayNum {
 
 text-align: right; 
 float: right;
 width: 24px;
 z-index: 90;
 padding: 1px;
 top: -3px;	
}
	
.calendarDay {
	
color: #000000;
padding:0px;
border: none;

vertical-align:top;
font-size: 14px;
text-align: center;
}
	
.calendarToday {
color: #FF0000;
border: 2px #ccccff groove;
vertical-align:top;
text-align: left;
font-size: 14px;

}
#day {
	border: 1px outset #1a324b;
	background-color: white;
}

.weekdayrow {
	width: 100%;
	height: 25px;
	padding: 0px;
	margin: 0px;
	border: 1px solid #1a324b;
	background-color: #c8c5b2;	
}
.calendarTable {
	
	background-repeat: no-repeat;
	color: #000000;
	padding:0px;
	border: none;

	vertical-align:top;
	font-size: 14px;
	text-align: center;
}
.monthTitle {
	vertical-align:middle;
	font-weight: bold;
	font-size: 22px;
	font-family: arial, sans serrif;
	text-align: center;
	color: #1a324b;
	padding: 0px;
	padding-top: 0px;
	margin: 0px;
}
	
.prevBtnTD {
	
}
.nextBtnTD {
}
	
#prevBtnImg	{
	
}
#nextBtnImg {
	
}



